name: Schedule Dependency Updates

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  call-update-workflow:
    uses: iridhicode/DepBotPy/.github/workflows/update-dependencies.yml@main
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
